@font-face {
  font-family: Montserrat;
  src: url("rsschool-cv/fonts/Montserrat-VariableFont_wght.ttf");
}

/* ------------------------------ Reset styles -------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* --------------------------------------------------------------------- */

* {
  font-family: Montserrat, sans-serif;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* ------------------------------ Header -------------------------------- */

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  background: #202026;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.nav-link {
  margin: 0 20px;
  line-height: 50px;
  font-size: 18px;
  color: #ffffff;

  background-image: linear-gradient(#fecb00, #fecb00);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.2s;
}

.nav-link:hover {
  background-size: 100% 2px;
}

/* ------------------------------ Main -------------------------------- */

.main-row {
  display: inline-flex;
}

/* -------------------------  Main => Sidebar ------------------------- */

.sidebar-column {
  background: #202026;
  width: 400px;
}

/* -------------------- Main => Sidebar => Sections ------------------- */

.section-skills {
  padding-top: 30px;
}
.section-sidebar {
  padding: 10px 0 0 30px;
  margin-bottom: 20px;
  color: #ffffff;
}
.section-title {
  font-size: 28px;
  padding-bottom: 15px;
}
.line {
  border-bottom: 2px solid #fecb00;
  margin-bottom: 10px;
}
.section-list {
  font-size: 18px;
  margin-left: 10px;
}
.section-item {
  padding: 8px;
}
.span-bold {
  font-weight: 700;
}
